h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.blog-header,
.blog-pagination {
    margin-bottom: 2rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post img {
    max-width: 100%;
}

.social-link {
    height: 32px;
    width: 32px;

    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/modules/social.svg');
}

.blog-header {
    overflow-x: hidden;
}

.blog-header .navbar {
    padding: 10em 2em 1em;
    margin: -9em -1em 2%;
    color: white;
    background: #0a0e1a;
    transform: rotateZ(-2deg);
}

.navbar-brand {
    transform: rotateZ(2deg);
    margin-top: -0.5rem;
}
