<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{.Page.Title}} - {{.Site.Title}}{{ end }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|PT+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $style := resources.Get "styles/base.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink | safeURL }}">
    <meta name="theme-color" content="#08339a">
    {{ block "head" . }}{{ end }}
</head>

<body>
    <header class="site-header__wrapper">
        <div class="site-header">
            <a class="logo" href="/">
                {{ partial "logo.html" . }}
            </a>
            <nav class="site-nav">
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </header>

    {{ block "main" . }}{{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ block "foot" . }}{{ end }}
</body>

</html>
