<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{.Page.Title}} - {{.Site.Title}}{{ end }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|PT+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $style := resources.Get "styles/base.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink | safeURL }}">
    <meta name="theme-color" content="#08339a">
    {{ block "head" . }}{{ end }}
</head>

<body>
    <header class="site-header__wrapper">
        <div class="site-header">
            <a class="logo" href="/">
                {{ partial "logo.html" . }}
            </a>
            <nav class="site-nav">
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </header>

    <div>
        {{ block "main" . }}{{ end }}
    </div>

    <footer class="site-footer__wrapper">
        <div class="site-footer container">
            <img class="logo__image" alt="UBC CSSS logo" height="48" width="48" src="/logo/main.svg">
            <address class="site-footer__mailing">
                {{ .Site.Data.about.address | markdownify }}
            </address>
            <div class="social">
                <h6>Connect with us</h6>
                <nav class="social-icon__wrapper">
                    {{ range .Site.Data.social }}
                    <a class="social-icon" href="{{.link}}" title="{{.title}}" style="background-position-x:-{{.x}}px">
                        <span class="social-icon__name">{{.title}}</span>
                    </a>
                    {{ end }}
                </nav>
            </div>
            <p class="site-footer__copyright">
                © {{ now.Format "2006" }} UBC Computer Science Student Society.
                Page maintained by <a href="mailto:webmaster@ubccsss.org">webmaster@ubccsss.org</a>.
            </p>
        </div>
    </footer>

    {{ template "_internal/google_analytics_async.html" . }}
    {{ block "foot" . }}{{ end }}
</body>

</html>
