<!doctype html>
<html lang="{{ .Lang }}">

<head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
        {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
</head>

<body>
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    {{ block "body" . }}
    <div class="container">

        {{ block "hero" . }}
        {{ end }}

        <div class="row">
            <div class="col-12 col-lg-8 blog-main">

                {{ block "main" . }}
                {{ end }}

            </div>

            {{ partial "sidebar.html" . }}

        </div>
    </div>
    {{ end }}

    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}
</body>

</html>
