body {
  background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

a {
  word-break: break-word;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-header {
  overflow: hidden;
}

.blog-header .navbar {
  padding: 10em 2em 1em;
  margin: -9em -1em 2%;
  color: white;
  background: #0a0e1a;
}

.outline-menu {
  height: auto;
  max-height: 20em;
  overflow-x: hidden;
}

.gsc-control-cse {
  /* !important required, otherwise the CSS file from Google overwrites this */
  padding: 0;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.gsc-input-box {
  border-radius: 1rem;
}
