body {
    background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.blog-post {
    margin-bottom: 4rem;
}

.social-link {
    height: 32px;
    width: 32px;

    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/modules/social.svg');
}

.blog-header {
    overflow: hidden;
}

.blog-header .navbar {
    padding: 10em 2em 1em;
    margin: -9em -1em 2%;
    color: white;
    background: #0a0e1a;
    transform: rotateZ(-2deg);
}

.navbar-brand {
    transform: rotateZ(2deg);
    margin-top: -0.5rem;
}

.outline-menu {
    height: auto;
    max-height: 20em;
    overflow-x: hidden;
}
.outline-list {
    list-style: none;
}
.outline-menu > .outline-list {
    padding-left: 0;
}
.nav mb-4 {
    background: #cce5ff;
    margin: 5px;
}
.nav-item {
    background: #cce5ff;
    margin: 5px;
}
@media only screen and (min-width: 576px) {
    .single-card {
        width: 52%;
    }
}
