body {
    background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-header {
    overflow: hidden;
}

.blog-header .navbar {
    padding: 10em 2em 1em;
    margin: -9em -1em 2%;
    color: white;
    background: #0a0e1a;
    transform: rotateZ(-2deg);
}

.navbar-brand {
    transform: rotateZ(2deg);
    margin-top: -0.5rem;
}

.outline-menu {
    height: auto;
    max-height: 20em;
    overflow-x: hidden;
}
