<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {{ partial "breadcrumb-item" .Parent }}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item active" aria-current="page">
            <a itemtype="https://schema.org/Thing" itemprop="item" href="{{ .Permalink }}">
                <span itemprop="name">{{ .Title }}</span>
            </a>
            <meta itemprop="position" content='{{ partial "num-parents" (dict "n" -1 "page" .) }}' />
        </li>
    </ol>
</nav>
