{{/* Carousel event chunking script */}}
{{ $batchSize := 4 }}
{{ $chunks := dict }}
{{ $current_key := 0 }}

{{ range $i, $event := .events }}
  {{ if and (ne $i 0) (eq (mod $i $batchSize) 0) }}
    {{ $current_key = add $current_key 1 }}
  {{ end }}
  {{ $chunk := index $chunks (string $current_key) | default (slice) }}
  {{ $chunk = $chunk | append $event }}
  {{ $chunks = merge $chunks (dict (string $current_key) $chunk) }}
{{ end }}


<style>
  .carousel-control-prev {
    width: 5%;
    justify-content: left;
  }

  .carousel-control-next {
    width: 5%;
    justify-content: right;
  }

  .carousel-control-next-icon {
    background-color: black;
    opacity: 100%;
  }

  .carousel-control-prev-icon {
    background-color: black;
  }
</style>

{{ range $chunkIndex, $chunk := $chunks }}
  <div class="carousel-item {{ if eq $chunkIndex "0" }}active{{ end }}">
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 px-5 pt-lg-3 pt-3 g-4 justify-content-center">
      {{ range $event := $chunk }}
        {{ .Render "card" }}
      {{ end }}
    </div>
  </div>
{{ end }}
