<style>
  .carousel-control-prev {
    width: 5%;
    justify-content: left;
  }

  .carousel-control-next {
    width: 5%;
    justify-content: right;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
  }
</style>

<div id="{{ .controlsId }}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{ partial "display-events.html" (dict "events" .events) }}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#{{ .controlsId }}"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#{{ .controlsId }}"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
