{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}


<header class="blog-header">
  <nav
    class="navbar navbar-top navbar-expand-lg navbar-{{ $colorScheme }} bg-{{ $colorScheme }} px-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        {{ partial "brand" . }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNav">
        <ul class="navbar-nav">
          {{ $url := .RelPermalink | relLangURL }}
          {{ range .Site.Menus.main }}
            <li class="nav-item">
              {{ if eq (hasPrefix .URL "mailto:") true }}
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
              {{ else }}
                {{ $menuUrl := .URL | relLangURL }}
                <a
                  class="nav-link {{ if eq $url $menuUrl }}
                    active
                  {{ end }}"
                  href="{{ $menuUrl }}"
                  >{{ .Name }}</a
                >
              {{ end }}
            </li>
          {{ end }}
        </ul>
        {{ if gt (len .Site.Home.AllTranslations) 1 }}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ i18n "language" }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown">
                {{ range .Site.Home.AllTranslations }}
                  <li>
                    <a class="dropdown-item" href="{{ .Permalink }}"
                      >{{ .Language.LanguageName }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </li>
          </ul>
        {{ end }}
        <div class="row">
          <div class="col-10">{{ partial "search-box" }}</div>
          <!--Dark Mode Button-->
          <div class="col-1">
            <input type="checkbox" onchange="darkMode()" id="darkMode" />
            <label for="darkMode" class="btn btn-outline-secondary"></label>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Add Dark Mode Support-->
<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.73/darkreader.min.js"></script>
<script>
  if (localStorage.getItem("darkmode") === "true") {
    DarkReader.enable();
    document.getElementById("darkMode").checked = true;
  }

  function darkMode() {
    const wasDarkmode = localStorage.getItem("darkmode") === "true";
    localStorage.setItem("darkmode", !wasDarkmode);
    if (DarkReader.isEnabled()) {
      DarkReader.disable();
      updateSocialIconColors(false);
    } else {
      DarkReader.enable();
      updateSocialIconColors(true);
    }
  }

  function updateSocialIconColors(isDarkMode) {
    const socialIcons = document.querySelectorAll(".icon-image");
    socialIcons.forEach((icon) => {
      icon.style.filter = isDarkMode ? "invert(100%)" : "invert(0%)";
    });
  }
</script>
