<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#08339A">

<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
<link href="{{ .Site.BaseURL }}css/styles.css" rel="stylesheet">
{{ partial "schema-organization.html" . }}
{{ if eq .Section "events" }}{{ partial "schema-event.html" . }}{{ end }}
