<nav class="nav justify-content-between">
    {{ $prev := .PrevInSection }}
    {{ if and (not $prev) (ne .CurrentSection .) }}
    {{ $prev = .CurrentSection }}
    {{ end }}
    {{ with $prev }}
    <a class="nav-link" href="{{ .RelPermalink }}">‹ {{ .Title }}</a>
    {{ end }}

    {{ if ne .Parent .Site.Home }}
        {{ with .Parent }}
        <a class="nav-link" href="{{ .RelPermalink }}">Up</a>
        {{ end }}
    {{ end }}

    {{ $next := .NextInSection }}
    {{ if eq .CurrentSection . }}
    {{ $next = index .Pages (sub (len .Pages) 1) }}
    {{ else }}
    {{ $nextSection := index .CurrentSection.Sections 0 }}
    {{ if $nextSection }}
    {{ $next = index $nextSection.Pages (sub (len $nextSection.Pages) 1) }}
    {{ end }}
    {{ end }}
    {{ with $next }}
    <a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }} ›</a>
    {{ end }}

    {{ if eq .Section "about" }}
    <div class="nav-item dropdown">
        <button class="btn btn-secondary nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Outline
        </button>
        <div class="dropdown-menu outline-menu" aria-labelledby="dropdownMenuButton">
            {{ partial "outline-items" .CurrentSection }}
        </div>
    </div>
    {{ end }}
</nav>
