{{ $num_recent_posts := default 5 .Site.Params.sidebar.num_recent_posts }}
{{ $posts := first $num_recent_posts (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
{{ if gt (len $posts) 0 }}
  <div class="recent-posts">
    <h3 class="recent-posts__heading">Recent Posts</h3>
    <ul class="recent-posts__list">
      {{ range $posts }}
        <li class="recent-posts__item">
          <a class="recent-posts__link" href="{{ .RelPermalink }}">
            <span class="recent-posts__title">{{ .Title | markdownify }}</span>
            <span class="recent-posts__date"
              >{{ dateFormat "Jan 2, 2006" .Date }}</span
            >
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="recent-posts__footer">
      <a class="recent-posts__more" href="/events">Events</a>
      <a class="recent-posts__more" href="/posts">Posts</a>
    </div>
  </div>
{{ end }}
