<script async src="{{ site.Params.gcseURL }}"></script>
<div class="gcse-search"></div>

<style>
    @media only screen and (max-width: 768px) {
        .gsc-input-box {
            padding-top: 0;
            padding-bottom: 5px;
            border-radius: 8px 0 0 8px;
        }
        .gsc-search-button-v2 {
            width: auto;
            padding: 11px 10px;
            margin: 0;
            border-radius: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .gsc-search-box-tools .gsc-search-box .gsc-input {
            padding: 0;
        }
        .gsc-input-box table {
            height: 100%;
        }
        .gsc-search-button-v2 svg {
            height: auto;
            width: 16px;
        }
    }
</style>
