{{ define "hero" }}
{{ $recentEvents := where .Site.Pages "Section" "in" .Site.Params.eventSections | first 3 }}
<div class="row mb-2">
    {{ range $recentEvents }}
    <div class="col-md-4">
        {{ partial "event-card" . }}
    </div>
    {{ end }}
</div>
<header>
    <h1 class="blog-post-title">
        {{ .Title | markdownify }}
    </h1>
    {{ partial "post-tags" . }}
    {{ partial "post-categories" . }}
    <hr>
</header>
<section>
    {{ .Content }}
</section>
{{ end }}

{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}
{{ $recentEvents := where .Site.Pages "Section" "in" .Site.Params.eventSections | first 3 }}
{{ $paginator := where .Site.Pages "Section" "in" .Site.Params.mainSections | symdiff $recentEvents | .Paginate }}
{{ range $paginator.Pages }}

{{ if $truncate }}
    {{ .Render "summary" }}
{{ else }}
    {{ .Render "content" }}
{{ end }}

{{ end }}

{{ partial "paginator" . }}

{{ end }}
