{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "main" }}
<section class="about">
  <div class="scene">
    <div class="cube">
      <a class="cubeface" id="cubeface-thecube" href="/cube" title="The Cube">
        <img class="cubeface-img" src="/cube/side.jpg" alt="The Cube">
      </a>
      <a class="cubeface" id="cubeface-tutorexam" href="/learn" title="Tutors &amp; Exam Database">
        <img class="cubeface-img" src="/learn/side.jpg" alt="Tutors &amp; Exam Database">
      </a>
      <a class="cubeface" id="cubeface-careerfair" href="/technical-career-fair" title="Career Fair">
        <img class="cubeface-img" src="/technical-career-fair/side.jpg" alt="Career Fair">
      </a>
      <div class="cubeface" id="cubeface-c">
        <img class="cubeface-img" src="logo/side-c.svg" alt="">
      </div>
      <div class="cubeface" id="cubeface-s-top">
        <img class="cubeface-img" src="logo/side-s-top.svg" alt="">
      </div>
      <div class="cubeface" id="cubeface-s-bottom">
        <img class="cubeface-img" src="logo/side-s-bottom.svg" alt="">
      </div>
    </div>
  </div>
  {{ .Content }}

  <h2>Events</h2>
</section>
{{ end }}
