{{ define "main" }}

<header>
    {{ partial "post-title" . }}
    {{ partial "post-date" . }}
    {{ partial "post-tags" . }}
    {{ partial "post-categories" . }}
    <hr>
</header>
<article class="blog-post">
    {{ .Content }}

    <div>
        {{ partial "event/when" . }}
        {{ partial "event/where" . }}
    </div>

    {{ partial "event/add-to-calendar" . }}
    <a class="btn btn-outline btn-primary my-3" href='./index.ics'>{{ i18n "addToIcsCalendar" }}</a>

    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

    {{ partial "related" . }}

</article>

{{ end }}
