{{ $startYear := now.Format "2006" }}
{{ if lt (int (now.Format "1")) 6 }}
    {{/* if month less than September... */}}
    {{ $startYear = (now.AddDate -1 0 0).Format "2006" }}
{{ end }}
{{ $start := (printf "%s-06-01" $startYear) }}
{{ $startDate := time $start }}
{{ $endDate := ($startDate.AddDate 1 0 0).Format "2006" }}
<h2>{{ i18n "verifiedTutors" (dict "start" $startYear "end" $endDate) }}</h2>

{{ range sort .Site.Data.tutor ".lastmod" "desc" }}
    <div class="card w-100 mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ .name }}</h5>
            <ul class="card-text mb-2">
                <li>{{ i18n "courses" . | markdownify }}</li>
                {{ if .availability }}
                <li>{{ i18n "availability" . | markdownify }}</li>
                {{ end }}
                {{ if .rates }}
                <li>{{ i18n "rates" . | markdownify }}</li>
                {{ end }}
            </ul>
            <details><summary>More</summary>
                <p>{{ i18n "lastUpdated" }}{{ .lastmod }}</p>
                {{ if .bio }}
                <p class="card-text">{{ .bio | markdownify }}</p>
                {{ end }}
            </details>
            <a href="mailto:{{ .email }}" class="btn btn-primary btn-sm mt-2">{{ i18n "emailTutor" . }}</a>
        </div>
    </div>
{{ end }}
